@import "null.scss";

$accent-color: #EFB891;
$accent-color-hover: #EFA470;
$accent-color-active: #A7734F;
$accent-color-current: #A7734F;
$main-color:#DF4D41;
$main-color-background: #EF7970;
$main-color-dark:#911E15;


#root{position: fixed;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
  transition-duration: 1s;
    max-width: 650px;
    min-width: 300px;
    margin: 50px, auto;
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 90%;}

.block{
  transition-duration: 1s;
    margin: 10px;
    & ul {display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 30px;
        & li{
            border-radius: 25px;
            transition-duration: 500ms;
            width: 40px;
            background-color:azure;
            font-weight: bold;
            &:last-child{
            width: 30px;
            display:flex;
            justify-content: center;}
        }}
        & .active{
          transition-duration: 500ms;
          background-color: black;
        color: azure;}
    & input {height: 50px;
    font-size: 24px;}
}

.buttonContainer{
  transition-duration: 1s;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: stretch;
& button {
  background: none;
  width: 40px;
height: 20px;}} 
.toLeft{
  }
.toRight{margin: 0 0 15px;}

@media (max-width:630px) {
  .App {flex-direction: column;}
  .buttonContainer{transform: rotate(90deg);}
}
